@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YouController</title>

    <link href="~/sidebar/sidebarStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/date-1.1.1/fc-4.0.0/fh-3.2.0/r-2.2.9/rr-1.2.8/datatables.min.css" />
    <style>
        .btn-margin {
            margin-right: 5px;
        }

        .td-icon{
            cursor: pointer;
        }

        .td-th-icon-size{
            width: 60px;
        }
    </style>
</head>
<body>

    <!--wrapper start-->
    <div class="swrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">RH<span>Control</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <p class="pTopBar" style="padding-top: 35px;"><strong>@HttpContextAccessor.HttpContext.Session.GetString("SessionName")</strong></p>
                    <li style="padding-top: 30px;"><a asp-controller="Home" asp-action="LogOut"><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <div id="returnPartialView">

                </div>

            </div>
        </div>
        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container">
            @RenderBody()
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->
    @*<footer>
            &copy; 2021 - YourController - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-btn").click(function () {
                $(".swrapper").toggleClass("collapses");
            });

            $.ajax({
                type: 'GET',
                url: "/Home/ReturnAllMenusOnPartialView",

                success: function (result) {
                    $("#returnPartialView").html(result);
                },

                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/date-1.1.1/fc-4.0.0/fh-3.2.0/r-2.2.9/rr-1.2.8/datatables.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>


</html>

