@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div>
    <canvas id="myChart"></canvas>
</div>

<div>
    <canvas id="myChartVagas"></canvas>
</div>



<div class="modal" id="modal-update-pass">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alterar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-md">
                        <label>Nova senha<span class="text-danger">*</span></label>
                        <input type="password" class="form-control placeholder" onchange="OnChangeValidation(this)" id="pass">
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <label>Confirmar senha<span class="text-danger">*</span></label>
                        <input type="password" class="form-control placeholder" onchange="OnChangeValidation(this)" id="confirma-pass">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Alterar depois</button>
                <button type="button" class="btn btn-success" id="btn-editar-perfil" onclick="updatePassword();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        VerifyIfItsDefaultPassword();
        chartFerias();
        chartVagas();
    });


    function chartFerias() {
        var model = {
            aprovacao: 1
        }
        AjaxHelper('GET', '/Ferias/GetAprovacao', model, function (AprovadoR) {
            AjaxHelper('GET', '/Ferias/GetAprovacao', 0, function (ParaAprovarR) {
                const labels = [
                    'Férias',
                ];

                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Aprovado',
                        backgroundColor: 'rgb(153, 255, 153)',
                        borderColor: 'rgb(153, 255, 153)',
                        data: [AprovadoR],
                    },
                    {
                        label: 'Para aprovar',
                        backgroundColor: 'rgb(255, 77, 77)',
                        borderColor: 'rgb(255, 77, 77)',
                        data: [ParaAprovarR],
                    }
                    ]
                };

                const config = {
                    type: 'bar',
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Férias'
                            }
                        }
                    },
                };

                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            })
        })
    }

    function chartVagas() {
        AjaxHelper('GET', '/Vagas/GetVagasQuantidade', null, function (Vagas) {
            const labels = [
                'Vagas',
            ];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Vagas',
                    backgroundColor: 'rgb(153, 255, 153)',
                    borderColor: 'rgb(153, 255, 153)',
                    data: [Vagas],
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Vagas'
                        }
                    }
                },
            };

            const myChart = new Chart(
                document.getElementById('myChartVagas'),
                config
            );
        })
    }

    function VerifyIfItsDefaultPassword() {
        AjaxHelper('GET', '/Home/VerifyIfItsDefaultPassword', null, function (result) {
            if (result) {
                $('#modal-update-pass').modal('show');
            }
        })
    }

    function updatePassword() {
        var model = {
            password: $('#confirma-pass').val(),
        }

        if ($('#confirma-pass').val() == $('#pass').val()) {
            AjaxHelper('PUT', '/Home/ChangePassword', model, function (result) {
                if (result) {
                    configureSweetSuccess("Senha alterada com sucesso!", "/Funcionario/Index")
                }
            })
        }
    }

    function OnChangeValidation(campo) {
        if ($(campo).val() != "") {
            $(campo).css("border-color", "")
        }
    }

</script>